@using DonationApp.Models
@{
    var user = ViewBag.NavUser as ApplicationUser;
    var unreadNotif = ViewBag.UnreadCount as int? ?? 0;
    var unreadMessages = ViewBag.UnreadMessageCount as int? ?? 0;
    var avatarLetter = user?.NamaDepan?.Substring(0, 1).ToUpper() ?? "?";
}

<nav class="pnav">
    <div class="pnav-user">
        <a href="/Profile/Edit" class="pnav-avatar-link">
            <div class="pnav-avatar">@avatarLetter</div>
            <span class="pnav-username">Profile</span>
        </a>
    </div>

    <div class="pnav-links">
        <a href="/Profile/Overview" data-url="/Profile/Overview" class="pnav-link">
            <i class="ti ti-layout-dashboard" aria-hidden="true"></i>
            Overview
        </a>
        <a href="/Donasi/Index" data-url="/Donasi/Index" class="pnav-link">
            <i class="ti ti-gift" aria-hidden="true"></i>
            Donasi
        </a>
        <a href="/Request/MyRequests" data-url="/Request/MyRequests" class="pnav-link">
            <i class="ti ti-list-search" aria-hidden="true"></i>
            Request
        </a>
        <a href="/Pesan/Index" data-url="/Pesan/Index" class="pnav-link">
            <i class="ti ti-message-2" aria-hidden="true"></i>
            Pesan
            @if (unreadMessages > 0)
            {
                <span class="pnav-badge">@unreadMessages</span>
            }
        </a>

        <a href="/Redeem/Index" data-url="/Redeem/Index" class="pnav-link">
            <i class="ti ti-coin" aria-hidden="true"></i>
            Poin
        </a>

        <a href="/Profile/Notifikasi" data-url="/Profile/Notifikasi" class="pnav-link">
            <i class="ti ti-bell" aria-hidden="true"></i>
            Notifikasi
            @if (unreadNotif > 0)
            {
                <span class="pnav-badge">@unreadNotif</span>
            }
        </a>

    </div>
</nav>
